<!DOCTYPE html>

<html ng-app="PingPoingApp"> 
  <head>
    <title>PingPoint</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">-->
     <link rel="stylesheet" type="text/css" href="/public/css/main.css">
      <link href="/public/css/bootstrap.min.css" rel="stylesheet">   
          <link rel="stylesheet" href="/public/css/font-awesome.css" type="text/css" media="screen" />
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap-3.3.6.min.js"></script>
  
      <!--<link rel="stylesheet" type="text/css" href="/public/css/main.css">-->
      <link href="/public/css/bootstrap.min.css" rel="stylesheet">   
      <!--<link rel="stylesheet" type="text/css" href="/public/{{.}}">-->
      <link rel="stylesheet" href="/public/css/flexslider.css" type="text/css" media="screen" />
   
    <script src="/public/js/bower_components/angular/angular.js" type="text/javascript" charset="utf-8"></script>
       <script src="/public/js/bower_components/angular-route/angular-route.js" type="text/javascript" charset="utf-8"></script>

    <script src="/public/js/angular_libraries/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/angular_libraries/controllers/form.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/angular_libraries/services/post.js" type="text/javascript" charset="utf-8"></script>
    
  


        <!--Google Font-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

        <style>

        .responsive-video {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 60px; overflow: hidden;
        }

        .responsive-video iframe,
        .responsive-video object,
        .responsive-video embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .twt {
            min-width:180px;
            margin-right:10px !important;
            margin-top:5px !important;    
        }

        .btn-primary.gradient
        {
            background:#f87c45;
            border-color:#f87c45;
            padding: 14px 18px;
        }

        .btn-primary.gradient a
        {
            /*border-radius:2px !important;*/
            background:#f87c45;
            color:#fff;
            font-size:18px;
            font-weight:bold;
            box-shadow:0px 1px 1px rgba(0,0,0,0.6);
            /*display:block;*/
            transition:ease-in-out .3s;
            margin:0 auto;
        }
        
        .btn-primary.gradient:hover
        {
            background:#e25719;
            text-decoration:none;
            border-color:#e25719;
        }

        h1, .h1, h2, .h2, h3, .h3 {
            margin-top: 18px;
            margin-bottom: 7px;
        }

        .btn:focus {
        outline: none;
        }

        .modal-header {
            color:#fff;
            padding:9px 15px;
            /*border-bottom:1px solid #eee;*/
            background-color: #5bc0de;
            /*-webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;*/
        }

    </style>

    <!-- LOAD JQUERY -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <!-- LOAD ANGULAR -->
  <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>-->
  </head>
  <body>


<div id="home" class="top">
<div class="container">
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 logom">
<img src="/public/img/header/logo.png" alt=".Square">
</div>
<!--Navigation-->
<div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 pull-right ">
<div class="nav">
    <ul class="navi">
        <li ><a href="#howitworks">How it works</a></li>
        <li><a href="#signup">Free 3 months</a></li>
        <li><a href="#video">Watch Video</a></li>
    </ul>
</div>
</div>
</div>
  </div>
    <section class="banner">
            <div id="bannerSlider" class="carousel carousel-fade slide">
                <!-- Indicators -->
                <div class="carousel-inner">
                    <div class="item active" style="background-image:url(/public/img/header/schoolkids-walk_2.png);">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="col-md-12 ">
                                    <div class="content">
                                    <!--<h2>Location-based Verification Technology </h2>-->
                                    <h2>Do you worry about your child's safety? {{ testAngular }}</h2>
                                    <!--<h3>Provides parents assurance that their child arrived where they need to get safely.</h3>-->
                                    <h3>PingPoint automatically notifies you when your child arrives where they are supposed to be.</h3>
                                    <div class="row">
                                         <br>               
                                            <div class="col-sm-6 col-sm-offset-4">
                                            <div class="smooth">
                                                    <div class="col-sm-2 twt"><a href="#howitworks"><button type="button" class="btn btn-primary gradient btn-lg">How It Works !</button></a></div> &nbsp
                                                    <div class="col-sm-2 twt" ><a href="#myModal" data-toggle="modal"><button type="button" class="btn btn-primary gradient btn-lg">Watch Video<span class="glyphicon glyphicon-play" aria-hidden="false"></span></button></a></div> 
                                                </div>
                                            </div>
                                        </div> 
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>            
    </section>

    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Location-based Verification Technology</h4>
                </div>
                <div class="modal-body responsive-video">
                    <iframe id="cartoonVideo" src="https://www.youtube.com/embed/ktvsOLZWZKc" width="500" height="200" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>


<!--Features Section-->
<section class="feature-styles" id="howitworks" >
<div class="container feature-container">
<br>
<div class="col-lg-push-6 col-md-6 col-sm-12 col-xs-12 text-center">
<img src="/public/img/body/boy-walking-2.gif" alt="How it works?"></div>
<div class="col-lg-pull-5 col-md-6 col-sm-12 col-xs-12">
<h1>Hassle-Free</h1>
<!--<div class="txt">Place the low cost bluetooth tag on your child's shoes, jacket, or backpack and it sends a signal to the base checkpoint.</div>-->
<div class="txt">Our tags are small and once you place them, you can forget about them. And forget about charging, batteries last for years.</div>
<!--<div class="getstarted"><a href="#">Get Started Today! <i class="fa fa-long-arrow-right"></i></a></div>-->
</div>


</div>
<div class="container feature-container">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
<img src="/public/img/body/boy-signal.gif" alt="Reduce development time"></div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<h1>Personalized</h1>
<!--<div class="txt">When your child is in range with the base, it sends a notification to your phone. The base checkpoint can be placed in homes, daycare, recreation places
    or any other places you want to monitor.</div>-->
<div class="txt">Set your own key locations by placing a base unit near them. The base checkpoint can be placed in homes, daycare, 
    recreation places or any other location you want to monitor.</div>
<!--<div class="getstarted"><a href="#">Get Started Today! <i class="fa fa-long-arrow-right"></i></a></div>-->
</div>

</div>
<div class="container feature-container">
<div class="col-lg-push-6 col-md-6 col-sm-12 col-xs-12 text-center">
<img src="/public/img/body/mom-standing-3.gif" alt="Works on all devices"></div>
<div class="col-lg-pull-5 col-md-6 col-sm-12 col-xs-12">
<h1>Peace of Mind</h1>
<!--<div class="txt">You will receive a ping notification on your phone to notify if your child has arrived safely to where they should be.</div>-->
<div class="txt">You will receive an automatic and instant notification when your child arrives where they need to be safely.</div>
<div class="getstarted smooth"><a href="#signup">Pilot this technology for free! <i class="fa fa-long-arrow-right"></i></a></div>
</div>
</div>
</section>
<br>
<!--Opt-in Section-->
<section class="bluebg" id="signup">

<div class="container msg">
<div id="message" style="display:none"></div>
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 opt-container">

<!--<h1>Would you like to pilot this technology for free?</h1>-->
<h1>Sign up to be our pilot customer and try PingPoint for 3 months <span>FREE</span> !</h1>
<!--<h2>Sign up to help us pilot this technology for <span>FREE</span> </h2>-->
<h2>We will send you more information about our technology as we get closer to launching.</h2>
<!--<p>We will send you one free base checkpoint and bluetooth tag. Simply download the app to start using.</p>-->
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-1 opt-container">

<!-- Begin MailChimp Signup Form -->
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>



<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup" ng-controller="formCtrl">
<form ng-submit="submitForm()">
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" ng-model="email" name="email" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" ng-model="fname" name="fname" class="" id="mce-FNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_83df2f99fa6a704efaab265d5_e850e6786d" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!--<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>-->
<!--End mc_embed_signup-->




 <br>
<!--End mc_embed_signup-->
</div>

</div>
</div>
</section>

<!--Start Video Section-->
<div class="vid-container" id="video">

                    <div class="row">
                        <div class="col-md-5 col-md-offset-4">
                        
                                <div class="responsive-video">
                                <!-- VIDEO EMBED FROM YOUTUBE: please change the URL -->
                                <iframe   src="https://www.youtube.com/embed/ktvsOLZWZKc" width="500" height="200" frameborder="0" allowfullscreen=""></iframe>
                                </div>
                        </div>
                    </div>
</div>



<!-- Footer Section-->
<section id="footer">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
  <div class="footer-nav text-center">
<ul class="navi">
<li><a href="#home">Back to top</a></li>
<li><a href="#howitworks">How it works</a></li>
<li><a href="#signup">Try for free</a></li>
<li><a href="#video">Watch Video</a></li>
</ul>
</div>
<!--<div class="social-icons text-center">-->
<!--<ul>
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
</ul>-->
<!--</div>-->
<br>
<div class="copyright">Copyright © 2017 PingPoint. All rights reserved.</div>
</div>
</section>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/public/js/custom.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/public/js/jquery.easing.1.3.js"></script>
    <script defer src="/public/js/jquery.flexslider-min.js"></script>


  </body>
</html>

